.header {
	float: right;

}

.tabela {
	background-color: #000000;
	width: 600px;
	border-top: 1px solid #CCCCCC;
	font-size: small;
	vertical-align: middle;

	
	
}
	
.tabela th {
	background-color: #EFEFEF;
	border-top: 1px solid #CCCCCC;
	font-size: small;
	
	vertical-align: top;
}

.tabela td:first-child {
	font-weight:bold;
	}

.kolone {
	width: 120px;
	text-align: center;
	background-color:  #FFFFFF;
	
	}

.login {
	width: 1000px;
	text-align: right;
	vertical-align: top;
	background-color: #0099CC;
	border: 2px;
}


.toolbar {
	width: 1000px;
	text-align: center;
	vertical-align: top;
	background-color: #38AECF;
	border: 4px solid #003399;
	
}

.trazenje {
	width: 1000px;
	text-align: center;
	vertical-align: top;
	background-color: #AAE6BA;
	border: 4px solid #009EC9;

}

.sredina {
	vertical-align: top;
	height: 1px;
	background-color: "green";	
	float: left;
	width: 1000px;
}

.detalji {
	vertical-align: top;
}

.labele {
	font-family: cursive;
	text-decoration: none;
	font-size: 24px;
	color: #83E5F2;
}

.dugmad {
	width: 75px;
}

.slike {
	width: 1000px;
	background-color: #B392A1;
}

.pozadina {
	background-color: #C4F9FF;
}